@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-alegreya);
}

body {
  background-color: #000;
  color: white;
}

.section {
  position: relative;
  min-height: 100vh;
  padding: 4rem 2rem;
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  z-index: 1;
}

.section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.logo {
  position: absolute;
  width: 77px;
  height: 77px;
  left: 21px;
  top: 0px;
}

.hero {
  flex-direction: column;
}

.hero::before {
  background-image: url("/jurassic-hero.png");
  opacity: 1;
}

.services {
  flex-direction: column;
}

.stats::before {
  background-image: url("/stats-bg.png");
  opacity: 1;
}

.alegreya {
  font-family: "algreya";
}

.aboreto {
  font-family: "aboreto";
}
